::selection{
  background-color:#ADD8E6;
}
.propose{
  padding-top:100px;
  height:100vh;
}
.boxes{
  background-color:#13BCB9;
}
hr{
  width:50%;
}
.contact{
  padding-top:50px;
  height:45vh;
}